# Node modules
node_modules/

# Build outputs
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OS-specific files
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/

# Env files
.env
.env.local

# Optional: ignore public images if you're uploading elsewhere
# public/images/
