@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply font-yugothic text-primary-text;
    width: 100%;
    height: 100%;
  }
  .container{
    padding: 0px;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-yugothic font-bold text-primary-text;
  }

  p {
    @apply font-yugothic text-base text-black-text font-normal;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  input[type="number"],
  select {
    @apply text-nm h-[56px] border border-gray-300 rounded-md px-6 font-montserrat font-medium text-black;
  }

  input::placeholder,
  select::placeholder {
    color: #393C40;
    opacity: .7;
    font-weight: medium;
  }
  
  .banner_form input{
    box-sizing: border-box;
    padding-left: 35px;
  }
}
section{
  margin-bottom: 60px;
}

@layer components {
  .heading {
    @apply text-xl font-bold text-primary-text;
  }

  .paragraph {
    @apply text-base font-normal text-black-text tracking-tightest;
  }
  .badges {
    @apply text-sm font-semibold text-black-text tracking-tightest pl-4 pr-4 rounded-[34px] py-2 ml-2 font-yugothic;
  }
}

.swiper-button-prev,
.swiper-button-next {
  @apply w-10 h-10 bg-center bg-no-repeat bg-contain;
}

.swiper-button-prev {
  background-image: url('/src/assets/icons/arrow.png');
}
.venueslider .swiper-button-prev, .venueslider .swiper-button-next{
  width: 16px;
  height: 28px;
}
.custom-testimonial-slider .swiper-button-prev, .custom-testimonial-slider .swiper-button-next{
  width: 58px;
  height: 58px;
}
.venueslider .swiper-button-prev, .venueslider .swiper-button-next, .custom-testimonial-slider .swiper-button-prev, .custom-testimonial-slider .swiper-button-next{
  background-repeat: no-repeat;
  background-size: cover;
}
.venueslider .swiper-button-prev {
  background-image: url('/src/assets/icons/next.png');
}
.venueslider .swiper-button-next {
  background-image: url('/src/assets/icons/next.png');
}

.swiper-button-next {
  background-image: url('/src/assets/icons/arrow.png');
  transform: scaleX(-1);
}

.venueslider .swiper-button-prev, .custom-testimonial-slider .swiper-button-prev, .customSliderButton button.prev {
    margin-left: -45px;
    opacity: 1 !important;
}
.swiper-button-prev{
  opacity: 1 !important;
}

.venueslider .swiper.swiper-initialized, .custom-testimonial-slider .swiper.swiper-initialized {
    position: static;
}

.custom-testimonial-slider{
  position: relative;
}

.venueslider .customSliderParents {
    position: relative;
}

.venueslider .swiper-button-next{
    margin-right: -40px;
}
.customSliderButton button.next{
  margin-right: -57px;;
}
.custom-testimonial-slider .swiper-button-prev{
  margin-left: -87px;
}
.custom-testimonial-slider .swiper-button-next{
  margin-right: -87px;
}
::placeholder{
  font-size: 10px;
}
/* Hide default Swiper arrow icons */
.swiper-button-prev::after,
.swiper-button-next::after {
  @apply hidden;
}
html,body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
*{
  box-sizing: border-box;
}
.tab_footer footer{
  display: none;
}

@media(max-width: 768px){
  section{
    margin-bottom: 48px;
  }
  .container{
    padding: 0px 32px;
  }
  
  .venueslider .swiper-button-prev{
    margin-left: -22px;
  }
  .venueslider .swiper-button-next{
    margin-right: -22px;
  }
  .custom-testimonial-slider .swiper-button-prev{
    margin-left: -1px;
  }
  .custom-testimonial-slider .swiper-button-next{
    margin-right: -1px;
  }
  .custom-testimonial-slider .swiper-button-prev, .custom-testimonial-slider .swiper-button-next{
    width: 33px;
    height: 33px;
  }
  .custom-testimonial-slider .swiper-button-prev{
    margin-left: -25px;
  }
  .custom-testimonial-slider .swiper-button-next{
    margin-right: -25px;
}
}

@media(max-width: 767px){
  section{
    margin-bottom: 32px;
  }
.uwanted-span{
  display: none;
}
.customSliderButton button.prev, .customSliderButton button.next{
  display: none;;
}
.venueslider .swiper-button-prev, .custom-testimonial-slider .swiper-button-prev{
    display: none;
  }
  .venueslider .swiper-button-next, .custom-testimonial-slider .swiper-button-next{
    display: none;
  }
  /* .venueslider .swiper-button-prev, .custom-testimonial-slider .swiper-button-prev{
    margin-left: -20px;
  }
  .venueslider .swiper-button-next, .custom-testimonial-slider .swiper-button-next{
    margin-right: -20px;
  }
  .custom-testimonial-slider .swiper-button-prev{
    margin-left: 0px;
  }
  .custom-testimonial-slider .swiper-button-next{
    margin-right: 0px;
  } */
  
}

