@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply font-yugothic text-primary-text;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-yugothic font-bold text-primary-text;
  }

  p {
    @apply font-yugothic text-base text-black-text font-normal;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  input[type="number"],
  select {
    @apply text-nm h-[56px] border border-gray-300 rounded-md px-6 font-montserrat font-medium text-black;
  }

  input::placeholder,
  select::placeholder {
    color: #393C40;
    opacity: .7;
    font-weight: medium;
  }
}

@layer components {
  .heading {
    @apply text-xl font-bold text-primary-text;
  }

  .paragraph {
    @apply text-base font-normal text-black-text tracking-tightest;
  }
  .badges {
    @apply text-sm font-semibold text-black-text tracking-tightest pl-4 pr-4 rounded-[34px] py-2 ml-2 font-yugothic;
  }
}

.swiper-button-prev,
.swiper-button-next {
  @apply w-10 h-10 bg-center bg-no-repeat bg-contain;
}

.swiper-button-prev {
  background-image: url('/src/assets/icons/arrow.png');
}

.venueslider .swiper-button-prev {
  background-image: url('/src/assets/icons/next.png');
}
.venueslider .swiper-button-next {
  background-image: url('/src/assets/icons/next.png');
}

.swiper-button-next {
  background-image: url('/src/assets/icons/arrow.png');
  transform: scaleX(-1);
}

/* Hide default Swiper arrow icons */
.swiper-button-prev::after,
.swiper-button-next::after {
  @apply hidden;
}

